.sender-data-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    text-align: center;
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-size: 1.8rem;
    font-weight: 400;
    border: 1px solid #666;
    border-radius: 0.5rem;
}
