.dialog-block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: fadeIn 0.2s ease-out;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-text-color);
    border: 0.0625rem solid var(--border-color);
    color: var(--primary-text-color);
    font-size: 1.25rem;
    box-shadow: 0 1.25rem 3.75rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease;
    animation: slideOut 0.5s ease-out;
}

.dialog-content:hover {
    transform: translateY(-0.1rem);
}

.dialog-buttons {
    display: flex;
    gap: 1.5rem;
}

.cancel-button,
.confirm-button {
    padding: 0.35rem 0.75rem;
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    box-shadow: 0 0.25rem 0.75rem rgba(16, 185, 129, 0.3);
}

.cancel-button:hover,
.confirm-button:hover {
    transform: translateY(-0.0625rem);
}

.cancel-button {
    background: #f0f0f0;
}

.confirm-button {
    background: #007bff;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(1.25rem) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
